# **Part 1: Basics**

In [ ]:
# Print "Starting my 30-day Data Science Bootcamp!"

print("Starting my 30-day Data Science Bootcamp")

Starting my 30-day Data Science Bootcamp

# **Core Python Concepts to Master**

In [ ]:
# Variables and Data Types

a = 10
b = 3.14
c = "Abhi"
d = True
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [ ]:
# Lists, Tuples, Sets, Dictionaries
# Lists are mutable, Tuples are immutable, Sets remove duplicates, and Dictionaries store key-value pairs.

my_list = [1, 2, 3, 4]
my_tuple = (10, 20, 30)
my_set = {1, 2, 2, 3}
my_dict = {'name': 'Abhi', 'age': 25}

print(my_list, my_tuple, my_set, my_dict)

[1, 2, 3, 4] (10, 20, 30) {1, 2, 3} {'name': 'Abhi', 'age': 25}

# **Conditional & Looping**

In [ ]:
# If-Else
x = 5
if x > 0:
    print("Positive")
else:
    print("Negative")

# For loop
for i in range(1, 6):
    print(i)

Positive
1
2
3
4
5

# **Functions**

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Abhi"))
print(greet("World!"))

Hello, Abhi!
Hello, World!!

# **Working with Libraries**

In [ ]:
# Introduce math and random â€” later these transition into NumPy/Pandas.

import math, random
print(math.sqrt(16))
print(random.randint(1, 10))

4.0
1

# **File Handling**

In [ ]:
with open('sample.txt', 'w') as f:
    f.write("This is Abhi learning Data Science.")

with open('sample.txt', 'r') as f:
    print(f.read())

This is Abhi learning Data Science.